<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:replace="~{fragments/main::page(title='Reset password',appMain=~{::appMain}, ownScript=~{::ownScript})}">
    <appMain>
        <!-- Reset password card -->
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-md-8 col-xl-5">
                <div class="card shadow-sm" style="border-radius: 1rem;">
                    <div class="card-body p-4 text-center">
                        <h3 class="mb-3" th:text="#{reset-password}">Reset password</h3>
                        <form th:action="@{/profile/reset-password}" method="post" th:object="${passwordResetTo}">
                            <input type="hidden" th:field="*{token}">
                            <div class="mb-3 mt-4">
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
                                    <div class="form-floating">
                                        <input type="password" th:field="*{password}"
                                               th:class="${#fields.hasErrors('password')} ? 'form-control is-invalid' : 'form-control'"
                                               id="password" required placeholder="New password" />
                                        <label for="password" class="text-muted" th:text="#{user.new-password}">New password</label>
                                    </div>
                                </div>
                                <span th:if="${#fields.hasErrors('password')}">
									<ul>
										<li class="text-danger text-start" th:each="err : ${#fields.errors('password')}"
                                            th:text="${err}"/>
									</ul>
								</span>
                            </div>
                            <div>
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
                                    <div class="form-floating">
                                        <input type="password" class="form-control" id="repeatPassword" required
                                               placeholder="Repeat password" />
                                        <label for="repeatPassword" class="text-muted" th:text="#{user.repeat-password}">Repeat Password</label>
                                    </div>
                                </div>
                                <span id="passwordMatchError" class="text-danger text-start"></span>
                            </div>
                            <div class="mt-4">
                                <button type="submit" class="btn btn-primary" id="confirmBtn" th:text="#{profile.save-password}">Save password</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </appMain>

    <ownScript>
        <script src="/js/check-passwords-match.js?v=1"></script>
    </ownScript>
</th:block>
