<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html" lang="en">

<th:block th:replace="~{fragments/main::page(title=#{home},appMain=~{::appMain}, ownScript=~{::ownScript})}">
    <appMain>
        <div class="row">
            <div class="col-8 h5 fw-bold" th:text="${album.name}">
                Album name
            </div>
            <span id="albumId" th:text="${album.id}" hidden></span>
            <div class="col-4 text-end">
                <button type="button" class="with-popover btn btn-outline-success btn-sm" data-bs-toggle="popover" data-bs-trigger="manual"
                        th:data-bs-title="'<a type=&quot;button&quot; class=&quot;btn-close ms-2 float-end tiny&quot;></a><div>'+ #{info.only-for-auth-users}+ '</div>'"
                        th:data-bs-content="'<div class=&quot;text-center&quot;><a href=&quot;/login&quot; type=&quot;button&quot; class=&quot;btn btn-sm btn-warning px-3&quot;>' + #{login} + '</a></div>'"
                        data-bs-html="true" onclick="openFilesInput()">
                    <i class="fa-solid fa-plus me-1"></i><span th:text="#{add}"></span>
                </button>
            </div>
        </div>
        <div th:if="${album.photos == null || album.photos.isEmpty()}" class="mt-2">
            <h5 class="alert alert-warning" th:text="#{album.no-photos-found}">No photos found.</h5>
        </div>
        <div th:if="${album.photos != null}" class="row row-cols-1 row-cols-md-2 row-cols-lg-5 mt-2" id="photosArea">
            <div th:each="photo : ${album.photos}" class="col mb-4">
                <div class="border rounded align-content-center text-center" style="height: 150px;">
                    <img th:src="@{'/' + ${photo.file.fileLink}}" class="img-fluid" style="height: 100%;" />
                </div>
            </div>
        </div>

        <input type="file" accept="image/*" multiple id="filesInput" hidden />
    </appMain>

    <ownScript>
        <script>
            sessionStorage.removeItem('prevUrl');
        </script>
        <script src="/js/common.js?v=1"></script>
        <script src="/js/album.js?v=1"></script>
        <script src="/js/share-project-button.js?v=1"></script>
    </ownScript>
</th:block>
