<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html" lang="en">

<th:block th:replace="~{fragments/main::page(title=${album.name},appMain=~{::appMain}, ownScript=~{::ownScript})}">
    <appMain>
        <div class="row">
            <div class="col-8 h5 fw-bold" th:text="${album.name}">
                Album name
            </div>
            <span id="albumId" th:text="${album.id}" hidden></span>
            <div class="col-4 text-end">
                <button type="button" class="with-popover btn btn-outline-success btn-sm" data-bs-toggle="popover" data-bs-trigger="manual"
                        th:data-bs-title="'<a type=&quot;button&quot; class=&quot;btn-close ms-2 float-end tiny&quot;></a><div>'+ #{info.only-for-auth-users}+ '</div>'"
                        th:data-bs-content="'<div class=&quot;text-center&quot;><a href=&quot;' + @{'/login'} + '&quot; type=&quot;button&quot; class=&quot;btn btn-sm btn-warning px-3&quot;>' + #{login} + '</a></div>'"
                        data-bs-html="true" onclick="openFilesInput()">
                    <i class="fa-solid fa-plus me-1"></i><span th:text="#{add}"></span>
                </button>
           </div>
        </div>
        <div th:hidden="${album.pictures != null && !album.pictures.isEmpty()}" class="mt-2" id="noPicturesAlert">
            <h6 class="alert alert-warning p-2" th:text="#{album.no-pictures-found}">No pictures found.</h6>
        </div>
        <div th:if="${album.pictures != null}" class="row row-cols-1 row-cols-md-2 row-cols-lg-5 mt-2" id="picturesArea">
            <div th:each="picture : ${album.pictures}" class="col mb-4 picture-col" th:id="${'picture-col-' + picture.id}">
                <span class="float-end pt-1" style="margin-bottom: -36px; margin-right: 4px; position: relative; z-index: 2">
                    <button type="button" class="btn btn-sm btn-outline-light rounded-circle" th:title="#{actions}"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-ellipsis"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a type="button" class="dropdown-item" th:href="@{'/' + ${picture.file.fileLink}}" download
                               th:data-id="${picture.id}" th:text="#{download}">Download</a></li>
                        <li><a type="button" class="dropdown-item" onclick="showDeletePictureModal($(this))"
                               th:data-id="${picture.id}" th:text="#{delete}">Delete</a></li>
                    </ul>
                </span>
                <img th:if="${picture.type == T(ru.javaprojects.picnest.pictures.model.Type).IMAGE}"
                     th:src="@{'/' + ${picture.file.fileLink}}" class="img-fluid" style="cursor: zoom-in;"
                     th:id="${'img-' + picture.id}" onclick="zoomImageInCarousel($(this))" />
                <video th:if="${picture.type == T(ru.javaprojects.picnest.pictures.model.Type).VIDEO}" controls class="img-fluid"
                       th:id="${'img-' + picture.id}" th:poster="@{'/pictures/' + ${picture.id} + '/preview'}">
                    <source th:src="@{'/' + ${picture.file.fileLink}}" />
                </video>
            </div>
        </div>

        <input type="file" accept="image/*, video/*" multiple id="filesInput" hidden />

        <!-- Carousel modal -->
        <div class="modal fade" id="carouselModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content">
                    <div class="modal-header border-0 pb-0">
                        <span id="carouselModalHeader"></span>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center align-content-center">
                        <div id="pictureCarousel" class="carousel slide" data-bs-interval="500000" data-bs-touch="true" data-bs-ride="carousel">
                            <div class="carousel-inner" id="pictureCarouselInner">
                                <div class="carousel-item" th:each="picture : ${album.pictures}" th:id="${'carousel-item-' + picture.id}">
                                    <img th:if="${picture.type == T(ru.javaprojects.picnest.pictures.model.Type).IMAGE}"
                                         th:src="@{'/' + ${picture.file.fileLink}}" class="img-fluid" style="max-height: 80vh;" />
                                    <video th:if="${picture.type == T(ru.javaprojects.picnest.pictures.model.Type).VIDEO}"
                                           controls class="img-fluid" style="max-height: 80vh;"
                                           th:poster="@{'/pictures/' + ${picture.id} + '/preview'}">
                                        <source th:src="@{'/' + ${picture.file.fileLink}}" />
                                    </video>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#pictureCarousel" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#pictureCarousel" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Delete picture modal -->
        <div class="modal fade" id="deletePictureModal" tabindex="-1" aria-labelledby="deletePictureModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title" id="deletePictureModalLabel" th:text="#{picture.confirm-delete}">Do you really want to delete picture?</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal" th:text="#{cancel}">Cancel</button>
                        <button type="button" class="btn btn-sm btn-danger" onclick="deletePicture()" th:text="#{delete}">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </appMain>

    <ownScript>
        <script>
            sessionStorage.removeItem('prevUrl');
        </script>
        <script th:src="@{/js/common.js?v=1}"></script>
        <script th:src="@{/js/album.js?v=1}"></script>
    </ownScript>
</th:block>
