<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:replace="~{fragments/main::page(title=#{error},appMain=~{::appMain})}">
    <appMain>
        <div class="text-center">
            <h1 class="display-1 fw-bold">403</h1>
            <p class="fs-3">
                <span class="text-danger" th:text="#{error.opps} + '!'">Opps!</span> <span th:text="#{error.access-denied} + '.'"></span>
            </p>
            <p class="lead" th:text="#{error.no-permission-to-access}">
                You do not have permission to access this page
            </p>
        </div>
    </appMain>
</th:block>
